<ion-view view-title="About Us">
  <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h2>“That which is measured, improves.”</h2>
            </div>
            <div class="item item-text-wrap">
                <p>MeasureLife is a service featuring web and mobile applications wherein users can supply goals and related metrics to capture on an ongoing basis coupled with feedback in the form of charts, notifications, and achievements to support their journey. Applications include weight management, medication control, maintaining a health regimen, skill advancement, balanced scorecard, personal improvement process, and more!</p>
            </div>
            <div>
                <div class="button-bar">
                    <a type="button" class="button button-calm"><i class="icon ion-social-facebook"></i> Facebook</a>
                    <a type="button" class="button button-balanced" href="mailto:feedback@measure.life">
                        <i class="icon ion-android-mail"></i> Email</a>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
