<ion-view view-title="help">
	<ion-content class="padding">
    <div class="card">
        <div class="item item-divider">
            <h2>Selecting goals</h2>
        </div>
        <div class="item item-text-wrap">
            <p>To select a goal...</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            <h2>Viewing selected goals</h2>
        </div>
        <div class="item item-text-wrap">
            <p>To view a selected goal...</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            <h2>Adding a reading to a selected goal</h2>
        </div>
        <div class="item item-text-wrap">
            <p>To add a reading to a selected goal...</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            <h2>Measuring progress</h2>
        </div>
        <div class="item item-text-wrap">
            <p>To view your progress toward a selected goal...</p>
        </div>
    </div>
	</ion-content>
</ion-view>
